<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h3 class="text-center">Formulario reactivo</h3>

            <form [formGroup]="formulario" #formDir="ngForm">
                <!-- El formulario se esconde una vez es enviado -->
                <div [hidden]="formDir.submitted">
                    <!-- Validación del formulario completo -->
                    <div class="cross-validation" [class.cross-validation-error]="formulario.errors?.['ValidaSelect'] && formulario.invalid && (formulario.touched || formulario.dirty)">
                        
                        <div class="form-group mt-2">
                            <label for="nombre">Nombre:</label>
                            <input type="text" formControlName="nombre" class="form-control shadow-sm" required="true" />
                            <!-- Validación por campo -->
                            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger shadow-sm">
                                <div *ngIf="nombre.errors?.['required']">
                                    El campo nombre es obligatorio
                                </div>
                                <div *ngIf="nombre.errors?.['minlength']">
                                    El nombre debe tener al menos 4 caracteres
                                </div>
                            </div>
                        </div>

                        <div class="form-group mt-2">
                            <label for="correo">E-Mail:</label>
                            <input type="text" formControlName="correo" class="form-control shadow-sm" required="true" />
                            <!-- Validación por campo -->
                            <div *ngIf="correo.invalid && (correo.dirty || correo.touched)" class="alert alert-danger shadow-sm">
                                <div *ngIf="correo.errors?.['required']">
                                    El campo correo es obligatorio
                                </div>
                                <div *ngIf="correo.errors?.['minlength']">
                                    El correo debe tener al menos 4 caracteres
                                </div>
                                <div *ngIf="correo.errors?.['pattern']">
                                    El correo debe tener un formato válido
                                </div>
                            </div>
                        </div>

                        <div class="form-group mt-2">
                            <label for="telefono">Teléfono:</label>
                            <input type="text" formControlName="telefono" class="form-control shadow-sm" required="true" />
                            <!-- Validación por campo -->
                            <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="alert alert-danger shadow-sm">
                                <div *ngIf="telefono.errors?.['required']">
                                    El campo teléfono es obligatorio
                                </div>
                                <div *ngIf="telefono.errors?.['minlength']">
                                    El teléfono debe tener al menos 4 caracteres
                                </div>
                            </div>
                        </div>

                        <div class="form-group mt-2">
                            <label for="direccion">Dirección:</label>
                            <input type="text" formControlName="direccion" class="form-control shadow-sm" required="true" />
                            <!-- Validación por campo -->
                            <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" class="alert alert-danger shadow-sm">
                                <div *ngIf="direccion.errors?.['required']">
                                    El campo dirección es obligatorio
                                </div>
                                <div *ngIf="direccion.errors?.['minlength']">
                                    La dirección debe tener al menos 4 caracteres
                                </div>
                            </div>
                        </div>

                        <div class="form-group mt-2">
                            <label for="pais">País:</label>
                            <select formControlName="pais" class="form-control shadow-sm">
                                <option *ngFor="let pais of paises" value="{{pais.nombre}}">
                                    {{pais.nombre}}
                                </option>
                            </select>
                            <!-- Validación -->
                            <div *ngIf="formulario.errors?.['ValidaSelectNull'] && (formulario.touched || formulario.dirty)" class="alert alert-danger shadow-sm">
                                El país es obligatorio
                            </div>

                        </div>
                    </div>
                </div>
                <hr/>

                <div class="mb-4">
                    <button type="submit" (click)="enviar()" [disabled]="formulario.invalid" class="btn btn-success">Enviar</button>
                    <button type="button" (click)="formDir.resetForm({})" class="btn btn-warning ms-2">Reset</button>
                </div>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
    