<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 d-flex justify-content-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3169.4469470440818!2d-5.988100824133833!3d37.40290947208144!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1738073574332!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="shadow-sm"></iframe>
        </div>
        <div class="col-2"></div>
    </div>
</div>
